h1 {
color:  #cbec80;
text-align: center;
margin-bottom: 0em;
}
h2 { 
  color: #ffffff;
  text-align: center; 
  font-size: 1em; 
}
header {
  background: #723838;
}
html {
  background: #cbec80;
}
