h1 {
color:  #cbec80;
text-align: center;
margin: 0em;
}
h2 { 
  color: #ffffff;
  text-align: center; 
  font-size: 1em;
  padding: .25em;
}
header {
  background: #723838;
}
html {
  background: #cbec80;
}
#formpetfinder {
  
  margin: 2.5em;
  
}
