/* Project Petfinder Stylesheet */


/* Reset
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,main,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}

/* Using a Major Second (8:9, 1.125) modular scale. */

form {
  margin: 0em 0em 0.493em 0em;
}
h1 {
  color: #cbec80;
  font-family: serif;
  font-size: 1.802em; /* 32.44px */
  font-weight: 600;
  padding: 0em 0em 0.274em 0em;
  text-align: center;
}
h2 {
  color: #eeeeee;
  font-family: Palatino, cursive;
  font-size: 1em;
  font-style: italic;
  margin: auto;
  text-align: center; 
}
h3 {
  font-size: /* 1.266em;  22.78px */ 
  font-weight: 600;
  margin: 2.281em 0em 0em 0em;
}
h4 {
  
}
h5 {
  font-weight: 600;
}
header {
  background: #783818;
  font-family: Helvetica;
  padding: 1em 0em 1em 0em;
}
html {
  background: #cbec80;
  /* line-height: 2.027em;  36.49px = 2 gridlines */
}
label {
  font-family: 'Oxygen', sans-serif;
  font-size: 1em;
  line-height: 2.027em;
  display: block;
  margin: auto;
}
main {
  margin: 0 0.493em 0 0.493em;
}
ul {

}
li {
  margin: 0.79em 0em 0em 0em;
}
footer {
  background: #783818;
  color: #cbec80;
  font-family: 'Gidugu', sans-serif;
  font-size: 1.602em; /* 28.83px */
  padding: 0.274em 0 0.274em;
  text-align: center;
}
.petresult {
  background-color: rgba(150,120,90,0.6);
  border: 0.493em solid #503000;
  padding: 0.274em 0.274em 0.274em 0.274em;
  line-height: 0.493em;
}


@media only screen and (min-width: 1200px) {
            /* desktop */
  label {
    display: inline-block;
   
}
form {
 margin: 0.493em 0em 0.493em 0em;
}
h1 {
  font-size: 3.427em; /* 54.832px */
  font-weight: 900;
}
main {
  margin: 0 1.602em 0 1.602em;
}
}
